html {
    font-family: "Consolas", monospace;
}
input:focus,
button:focus{
    border: 3px solid #ffffff;
    border-width: 0 3px 0 0;
    outline: none;
}
.main {
    background: #4C8DA6;
    width: 1000px;
    margin: 50px auto;
    padding: 10px 10px 10px 20px;
    border-radius: 3px;
    color: #24434F;
    position: relative;
}
.main ul {
    padding: 0;
    margin: 0;
}
.row {
    border-radius: 3px;
    padding: 10px 45px 10px 20px;
    margin: 5px;
    background: #72A6BA;
    display: flex;
    position: relative;
}

.cell {
    position: relative;
    border-radius: 3px;
    padding: 10px 10px 10px 20px;
    background: #ADCDD9;
    margin: 0 5px;
    width: 100%;
}
.add_cell {
    position: absolute;
    display: block;
    height: 100%;
    width: 35px;
    right: 0;
    top: 0;
    border-radius: 0 3px 3px 0;
    border: none;
    color: #50783C;
    font-weight: bold;
    font-size: 20px;
    background: #97d17a;
    cursor: pointer;
}
.add_row {
    display: block;
    height: 30px;
    width: 30px;
    padding: 0;
    line-height: 100%;
    margin: 0 auto;
    border-radius: 50%;
    border: none;
    color: #50783C;
    font-weight: bold;
    font-size: 20px;
    background: #97d17a;
    cursor: pointer;
    margin-bottom: 10px;
}
input {
    background: rgba(0,0,0,.2);
    border: none;
    color: #ffffff;
    padding: 2px;
    width: 60px;
    font-family: "Consolas", monospace;
}
label{
    margin-left: 5px;
    font-family: "Consolas", monospace;
}
.delete {
    position: absolute;
    height: 100%;
    width: 20px;
    background: #fa6e69;
    color: #C73F3A;
    border: none;
    top: 0;
    left: 0;
    border-radius: 3px 0 0 3px;
    font-size: 15px;
    cursor: pointer;
    opacity: 0;
}

.main:hover > .delete,
.row:hover > .delete,
.cell:hover > .delete {
    opacity: 1;
}
/*
#output table,
#output table tr td tr,
#output table tr td tr td {
    border: 1px solid #000000;
}
#output table tr td {
    height: 50px;
}*/

#contextMenu {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: red;
    display: none;
}

.listMenu {
    padding: 0;
    margin: 0;
    list-style: none;
}
.listMenu + .listMenu {
    border-top: 1px solid #50783C;
}
.itemMenu {
    padding: 2px 19px 2px 15px;
    background: #97d17a;
    color: #50783C;
    cursor: pointer;
    transition: all .1s ease-out;
    position: relative;
    white-space: nowrap;
}
.itemMenu:hover{
    padding: 2px 12px 2px 22px;
    background: #50783C;
    color: #97d17a;
    cursor: pointer;
}
.listMenu .listMenu {
    display: none;
}

.itemMenu:hover > .listMenu{
    display: block;
    position: absolute;
    left: 100%;
    top: 0;
}
.listMenuMore:after {
    display: block;
    position: absolute;
    right: 5px;
    top: 0;
    bottom: 0;
    margin: auto 0;
    height: 0;
    width: 0;
    z-index: 1000;
    content: '';
    border-width: 3px 0 3px 5px;
    border-color: transparent transparent transparent #50783C;
    border-style: inset inset inset solid;
}
.itemMenu:hover:after {
    border-color: transparent transparent transparent #97d17a;
}
.alreadyPresent:before {
    content: 'x';
    position: absolute;
    left: 5px;
    top: 0;
    bottom: 0;
    margin: auto 0;
    display: block;

}